* {
    padding: 0;
    margin: 0;
}

.corpo {
    background-color: black;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#pontuacao {
    position: absolute;
    top: 40px;
    right: 135px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #FFF;
    color: #202c2d;
    background: black;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

#nome {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    color: #FFF;
    color: transparent;
    background: black;
    text-shadow: -4px 4px rgba(179, 179, 179, .4), -3px 3px rgba(153, 153, 153, .2), -2px 2px rgba(179, 179, 179, .2), -1px 1px rgba(179, 179, 179, .2), 0px 0px rgba(128, 128, 128, .5), 1px -1px rgba(77, 77, 77, .6), 2px -2px rgba(77, 77, 77, .7), 3px -3px rgba(82, 82, 82, .8), 4px -4px rgba(77, 77, 77, .9), 5px -5px rgba(77, 77, 77, 1);
}

div#board {
    width: 90vh;
    height: 90vh;
    background: linear-gradient(rgb(34, 34, 34), rgb(53, 53, 53));
    border: 7px solid rgb(48, 48, 48);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

div.head {
    background: rgb(244, 245, 170);
    border: 2px solid rgb(149, 168, 81);
    transform: scale(1.02);
}

div.snake {
    background: rgb(202, 209, 103);
    border: 2px solid rgb(149, 168, 81);
    
}

div.fruta {
    background: rgb(204, 70, 70);
    border: 2px solid darkred;
    background-size: contain;
    background-repeat: no-repeat;
}